
<div class="container">
	<div class="row show-grid">
		<div class="col-lg-6 col-md-6">
			Vpiši število in klikni na gumb preveri! (uporabljaj decimalno piko)
		</div>
		<br/>
		<br/>
		<br/>
		<div class="col-lg-4 col-md-4">
			<input ng-model="number" type="number" min="0" max="99" step="0.01" class="form-control" type="text" placeholder="Vpiši število in klikni na gumb preveri (uporabljaj decimalno piko) ..."/>
		</div>
		<br/>
		<br/>

		<div class="col-lg-4 col-md-4">
			<button ng-click="check(number)" class="btn">Preveri</button>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>

		<div class="col-lg-6 col-md-6">
			<span>{{result}}</span>
		</div>
		<br/>
		<br/>

		<div ng-show="showHint" class="col-lg-6 col-md-6">
			<span ng-model="result"> Pojdi v garažo, odkleni avto in odpri prtljažnik. Pod tlemi prtljažnika boš našla darilo! Nato pridi nazaj ter na ključku poišči datoteko navodila.txt.</span>
		</div>
	</div>
</div>